.Contents {
  padding-left: 29%;
  width: 49.16vw;
  font-family: 'Noto Sans KR', sans-serif;
}

.Pic {
  height: 500px;
}
.ImageContainer {
  display: flex;
  width: 100%;
  padding: 1.82vw 2.91vw 1.3vw 2.91vw;
}
.Image:nth-child(1) {
  width: 12.76vw;
  height: 100%;
}
.Image:hover {
  cursor: pointer;
}
