.Contents {
  padding-left: 29%;
  width: 49.16vw;
  font-family: 'Noto Sans KR', sans-serif;
}

.ImageContainer {
  display: flex;
  width: 47.5vw;
  height: 27.34vw;
  justify-content: space-between;
  align-items: center;
}
.Row {
  display: flex;
  flex-wrap: wrap;
}
.Col {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.Row img {
  width: 100%;
}
.Col img {
  vertical-align: middle;
  width: 100%;
}
