.Header {
  text-align: center;
}
.Header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 4.68vw;
  font-size: 1.56vw;
  color: #5c668a;
}
.Header h2 {
  line-height: 4.68vw;
  font-size: 2.34vw;
  font-weight: 700;
}
