.SideBigType {
  display: flex;
  align-items: center;
  margin-bottom: 2.34vw;
}

.SideBigType h1 {
  font-weight: 500;
  color: #5c668a;
  font-size: 1.19vw;
}

.SideSmallType {
  display: inline-block;
  background: #5c668a;
  text-align: center;
  color: #fff;
  font-weight: 500;
  width: 10.67vw;
  height: 2.6vw;
  font-size: 0.98vw;
  margin-bottom: 1.56vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.SideIndex {
  display: flex;
  font-size: 0.98vw;
  margin-bottom: 1.19vw;
}
.SideIndex span {
  margin-right: 2.3vw;
}
.SideIndex span:hover {
  cursor: pointer;
  font-weight: 600;
}
.SideIndex a {
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 10px 0.21px #ffffff,
    inset 4px 4px 10px 0.21px rgba(255, 255, 255, 0.2);
  width: 1.97vw;
  text-align: center;

  line-height: 2.26vw;
  font-weight: 500;
}

.SideIndex a:hover {
  cursor: pointer;
  font-weight: 600;
  box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.3),
    inset 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.SelectedType {
  font-weight: 600;
  border-bottom: 4px solid #5c668a;
}

.Caret {
  margin-left: 10px;
  color: #626e94;
}
