.Container {
  position: relative;
  padding: 1.68vw 2vw 0 0;
  background: #d1c2c2;
  border-radius: 10px;
  margin-bottom: 10vw;
  width: 100%;
  margin-top: 0.62vw;
  transition: all 0.3s ease;
}
.Container:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 10px 0.21px #ffffff,
    inset 4px 4px 10px 0.21px rgba(255, 255, 255, 0.2);
  transform: scale(0.9);
}

.Row {
  display: flex;
  width: 100%;
  flex-grow: 1;
}
.Col {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 2.65vw;
}

.Box1 {
  margin: 0 auto;
  width: 70%;
  flex-grow: 2;
  padding-bottom: 1.5vw;
}
.LastBoxRow {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.Box2 {
  width: 30%;
  margin-right: 1.04vw;
  flex-grow: 2;
  padding-bottom: 1.04vw;
}
.Box3 {
  width: 20%;
  flex-grow: 1;
  padding-bottom: 1.04vw;
}

.Container img {
  width: 100%;
  border: 1px solid #828282;
  box-sizing: border-box;
}

.More {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  position: absolute;
  top: -17px;
  right: 10px;
  font-size: 0.67vw;
  color: #828282;
}
