.Container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5.57vw;
}

.Images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  margin-bottom: 0.72vw;
}
.Image {
  border: 2px solid #f2f2f2;
  box-shadow: -4px -4px 10px 0.21px #ffffff,
    inset 4px 4px 10px 0.21px rgba(255, 255, 255, 0.2),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  transform-origin: center left;
}

.Image img {
  width: 100%;
}

.PosterName {
  margin-left: 1.5vw;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
}
.PosterName span:nth-child(1) {
  color: #828282;
  margin-right: 0.78vw;
}

.Next {
  display: flex;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 0.88vw;
  cursor: pointer;
}
.Next span {
  margin-right: 0.5vw;
}

.Spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #5c668a;
  animation: circleChange 1.2s linear infinite;
}
@keyframes circleChange {
  0% {
    transform: scale(1);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
