.Container {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin-bottom: 5.57vw;
}

.Images {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  margin-bottom: 0.72vw;
  cursor: pointer;
}
.Image {
  border: 2px solid #f2f2f2;
  -webkit-box-shadow: -4px -4px 10px 0.21px #ffffff,
    inset 4px 4px 10px 0.21px rgba(255, 255, 255, 0.2),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: -4px -4px 10px 0.21px #ffffff,
    inset 4px 4px 10px 0.21px rgba(255, 255, 255, 0.2),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  -ms-transform-origin: center left;
  -webkit-transform-origin: center left;
  -moz-transform-origin: center left;
  transform-origin: center left;
}
.Images:hover {
  opacity: 0.8;
}
.Image img {
  width: 100%;
}
.More {
  position: absolute;
  top: -17px;
  right: 30px;
  font-size: 0.67vw;
  font-weight: 600;
  color: #828282;
  font-family: 'Noto Sans KR', sans-serif;
}

.PosterName {
  margin-left: 1.5vw;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 1.14vw;
}
.PosterName span:nth-child(1) {
  color: #828282;
  margin-right: 0.78vw;
}

.Next {
  width: 6.5vw;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 0.88vw;
  cursor: pointer;
}
.Next span {
  margin-right: 0.5vw;
}
.Next:hover span {
  font-weight: 700;
}
