.Toolbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e9e9e9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 10px 0.21px #ffffff,
    inset 4px 4px 10px 0.21px rgba(255, 255, 255, 0.2);
}

.ToolbarContent {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ToolbarContent > div {
  display: flex;
  align-items: center;
}

.NavItems {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1.14vw;
  display: flex;
  margin-left: 11.8vw;
}

.NavItem {
  position: relative;
  padding: 40px 60px 40px 0;
  margin-right: 20px;
}
.NavItem a {
  text-decoration: none;
  color: #000000;
}
.NavItem:hover {
  cursor: pointer;
}

.MenuIcon {
  display: none;
  color: #626e94;
}

.MenuIcon:hover {
  cursor: pointer;
}

.Caret {
  margin-left: 10px;
  color: #626e94;
}
.HomeLogo {
  width: 4.8vw;
  height: 4.8vw;
  max-width: 70px;
  max-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomeLogo svg {
  max-width: 25px;
}

/* tablet */

@media (min-width: 768px) and (max-width: 1024px) {
}

/* mobile */
@media (max-width: 768px) {
  .MenuIcon {
    display: block;
  }
  .ToolbarContent {
    width: 90%;
  }
}
