.CopyItem {
  width: 17.6vw;
  text-decoration: none;
  border: 2px solid #626e94;
  box-sizing: border-box;
  /* outer (아이콘색 블랙) */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 10px 0.21px #ffffff,
    inset 4px 4px 10px 0.21px rgba(255, 255, 255, 0.2);
  border-radius: 80px;
  color: #5c668a;
  font-family: 'Poppins';
  padding: 0.4vw 0.5vw 0.4vw 1.09vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all 0.1s ease;
}
.CopyItem:hover {
  border: 2px solid #fff;
  cursor: pointer;
}

.Email {
  font-size: 0.83vw;
  font-weight: 600;
}

.CopyBtn {
  background: #627395;
  border-radius: 5px;
  color: #fff;
  padding: 0.3vw 0.4vw;
  font-weight: 300;
  font-size: 0.6vw;
}

.CopiedMsg {
  position: absolute;
  right: -3.8vw;
  font-size: 0.76vw;
}
/* tablet */

@media (min-width: 768px) and (max-width: 1024px) {
  .CopyItem {
    display: none;
  }
}
/* mobile */
@media (max-width: 768px) {
  .CopyItem {
    display: none;
  }
}
