.SideDrawer {
  z-index: 1;
  padding-top: 13%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  padding-left: 12.5vw;
  font-family: 'Poppins', sans-serif;
  line-height: 2.08vw;
}
