.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4.37vw;
}
.Header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #5c668a;
  font-size: 3.9vw;
}
.Header > div {
  font-family: 'Noto Sans KR', sans-serif;
}
.Header > div > span:nth-child(1) {
  display: inline-block;
  border: 1px solid #828282;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 10px 0.21px #ffffff,
    inset 4px 4px 10px 0.21px rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  font-size: 1.04vw;
  color: #828282;
  padding: 0.28vw 0.72vw;
  line-height: 1.04vw;
  font-weight: 600;
  margin-right: 0.93vw;
}
.Header > div > span:nth-child(2) {
  font-size: 1.19vw;
  font-weight: 500;
}

.Row {
  display: -ms-flexbox;
  display: flex;
  /* -ms-flex-wrap: wrap;
  flex-wrap: wrap; */
  padding: 0 4px;
}
.Col {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 20px;
}
.Col img {
  margin-top: 2.78vw;
  vertical-align: middle;
  width: 100%;
}

.Col:nth-child(2) img:nth-child(1) {
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}
.ImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: auto;
}
.ImgInModal {
  width: 60%;
  max-width: 800px;
}

@media screen and (max-width: 600px) {
  .Row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .Col {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
