.Header {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4.37vw;
}
.Header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #5c668a;
  font-size: 3.9vw;
}
.Header > div {
  font-family: 'Noto Sans KR', sans-serif;
}
.Header > div > span:nth-child(1) {
  display: inline-block;
  border: 1px solid #828282;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    -4px -4px 10px 0.21px #ffffff,
    inset 4px 4px 10px 0.21px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 10px 0.21px #ffffff,
    inset 4px 4px 10px 0.21px rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  font-size: 1.04vw;
  color: #828282;
  padding: 0.28vw 0.72vw;
  line-height: 1.04vw;
  font-weight: 600;
  margin-right: 0.93vw;
}
.Header > div > span:nth-child(2) {
  font-size: 1.19vw;
  font-weight: 500;
}
.Gallery {
  margin-bottom: 8.02vw;
}

.Row {
  display: -ms-flexbox;
  display: flex;
  padding: 0 4px;
}

.EachImg {
  margin-top: 2.78vw;
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}
.EachImg h2 {
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Poppins', serif;
  font-size: 1.6vw;
  font-weight: 600;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transition: all 1s 0ms cubic-beizer(0.6, -0.28, 0.735, 0.045);
}

.EachImg:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.35;
  filter: grayscale(100%);
  transition: all 0.35s ease-in-out;
}
.EachImg:hover h2 {
  transform: translate(-50%, -50%) scale(1);
}

.EachImg:hover img {
  transform: scale(1.1);
}

.Col {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
  padding: 0 20px;
}
.Col img {
  vertical-align: middle;
  width: 100%;
}
.Col img:hover {
  cursor: pointer;
}

.Col:nth-child(2) img:nth-child(1) {
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}
.ImgContainer {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: auto;
}
.ImgInModal {
  width: 60%;
  max-width: 800px;
}

@media screen and (max-width: 600px) {
  .Row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .Col {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
