.Contact {
  margin-left: 29%;
  font-family: 'Poppins', sans-serif;
  width: 49.16vw;
}
.Header {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-bottom: 0.5vw;
  margin-left: 2vw;
}
.Header h1 {
  color: #5c668a;
  font-size: 2.08vw;
  line-height: 4.68vw;
  font-weight: 700;
}
.Bubble {
  width: 8.12vw;
  margin-left: 1.25vw;
}
.Bubble img {
  width: 100%;
}

.Card img {
  width: 100%;
  margin-bottom: 2vw;
}
