.Contact {
  margin-left: 29%;
  font-family: 'Poppins', sans-serif;
  width: 49.16vw;
}
.Header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5vw;
  margin-left: 2vw;
}
.Header h1 {
  color: #5c668a;

  font-size: 2.08vw;
  line-height: 4.68vw;
  font-weight: 700;
}
.Bubble {
  width: 8.12vw;
  margin-left: 1.25vw;
}
.Bubble img {
  width: 100%;
}

.Card img {
  width: 100%;
  margin-bottom: 2vw;
}

/*

.Card {
  display: flex;
  flex-direction: column;
}
.CardHeader h1 {
  margin-left: 0.5vw;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2.6vw;
  font-weight: 700;
}
.CardHeader h2 {
  font-weight: 600;
  font-size: 0.88vw;
  line-height: 2.6vw;
  color: #828282;
}
.CardContent {
  display: flex;
  justify-content: space-between;
}
.Figures {
  display: flex;
  flex-direction: column;
}

.Figures > div {
  box-shadow: inset -6px -6px 10px rgba(255, 255, 255, 0.7),
    inset 6px 6px 20px rgba(5, 0, 0, 0.1);
  margin-top: 0.62vw;
}
.Figures > div:nth-child(1) {
  width: 3.43vw;
  height: 3.43vw;
}
.Figures > div:nth-child(2) {
  border-radius: 50%;
  width: 3.43vw;
  height: 3.43vw;
}
.Figures > div:nth-child(3) {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #eee;
}
.Phone h1 {
  font-size: 0.88vw;
  color: #828282;
  line-height: 2.6vw;
  font-weight: 700;
} */
