.SmallImg {
  position: relative;
  width: 100%;
  margin: 0 auto;
  transition: all 0.3s ease-out;
}
.SmallImg img {
  width: 100%;
}
.SmallImg:hover {
  cursor: pointer;
  transform: scale(0.9);
}
.ImgInModal {
  position: relative;
  margin: auto;
  display: block;
  width: 100%;
}
.More {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  position: absolute;
  top: -17px;
  right: 10px;
  font-size: 0.67vw;
  color: #828282;
}
