.SmallImg {
  position: relative;
}
.SmallImg img {
  width: 100%;
  height: 100%;
}
.SmallImg:hover {
  cursor: pointer;
}
.ImgInModal {
  position: relative;
  margin: auto;
  display: block;
  width: 100%;
  border: 3px solid #000;
}
.More {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  position: absolute;
  top: -17px;
  right: 10px;
  font-size: 0.67vw;
  color: #828282;
}
