.Explanation {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
  transform: rotate(270deg);
}

.Gallery {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.Middle {
  width: 100%;
  padding: 0 auto;
}
.ImgInModal {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.ArrowBtns {
  position: fixed;
  right: 0;
  bottom: 0;
}

@media (min-width: 1440px) and (max-width: 1680px) {
  .ImgInModal {
    max-width: 480px;
  }
}
@media (max-width: 1920px) and (min-width: 1681px) {
  .ImgInModal {
    max-width: 615px;
  }
}
