.Contents {
  padding-left: 29%;
  width: 49.16vw;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5%;
}
.Header > h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.56vw;
  color: #5c668a;
}
.ImgContainer {
  width: 28.4vw;
  margin-right: 2.6vw;
}
.ImgContainer img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.Header {
  margin-bottom: 4.3vw;
  padding: 0.5vw;
}
.InfoContainer {
  margin-top: 2vw;
  display: -ms-flexbox;
  display: flex;
}

.Bar {
  width: 4px;
  background: rgba(92, 102, 138, 0.3);
  margin-right: 1.51vw;
}

.Info {
  padding: 5px 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.82vw;
  font-size: 0.88vw;
}

.Info > div span:nth-child(1) {
  display: inline-block;
  width: 5vw;
  font-weight: 700;
  color: #828282;
  margin-right: 50px;
}
.Info > div span:nth-child(2) {
  font-weight: 600;
}

.Msg{
  width:22vw;
}
.MsgHeader {
  position: relative;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.3vw;
  line-height: 2.6vw;
  font-weight: 600;
  margin-bottom: 3vw;
}
.MsgHeader h1 > span {
  font-weight: 800;
}

.QuoteLeft {
  position: absolute;
  left: -1vw;
}
.QuoteRight {
  position: absolute;
  right: -3vw;
}

.MsgFooter h2 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 0.9vw;
  font-weight: 700;
  line-height: 1.8vw;
}
